@import 'configs/_config'
@import 'functions/_functions'
@import 'mixins/_reboot'
@import 'mixins/_placeholder'
@import '~normalize.css'

@import 'sprite'
+sprites($spritesheet-sprites)

@import 'forms'
@import 'modal'
@import 'authorization'

html
	font-size: $fz-root
	height: 100%

body
	font-family: 'Roboto', sans-serif
	position: relative
	color: $body-color
	font-size: $fs-base
	background-color: $body-bg
	background-image: url(../images/bg-pattern.png)
	background-position: 0 0
	background-repeat: repeat
	height: 100%

*
	box-sizing: border-box
