.modal
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

	&__padding
		padding: $gutter-width
		height: 100%

	&__align
		display: flex
		justify-content: center
		align-items: center
		height: 100%

	&__container
		flex-basis: 350px
		background-color: $white
		border-radius: 3px

		&-padding
			padding: 10px

	&__inner
		position: relative

	&__close
		cursor: pointer
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		text-align: center
		top: 0
		right: 0
		padding: 0
		border: none
		width: 14px
		height: 14px
		border-radius: 50%
		background-color: $grey-1

		&-icon
			display: block
			margin: 0
			color: $white
			font-size: 6px
