block authorization
    .authorization#authorization
        .authorization__padding
            .authorization__header
                .authorization__user

            form.authorization__form
                .authorization__form-group
                    label.authorization__form-label.sprite-smith(for='login-email')
                        span.authorization__caret
                        span.icon-person--small

                    .authorization__form-extractor
                        input#login-email.authorization__form-control(type='email' placeholder='chavroka@gmail.com' required)

                .authorization__form-group
                    label.authorization__form-label.sprite-smith(for='login-password')
                        span.authorization__caret
                        span.icon-key

                    .authorization__form-extractor
                        input#login-password.authorization__form-control(type='password' placeholder='*********' minlength='5' required)

                .authorization__form-group.authorization__form-group--forget
                    a.authorization__forget-link(href='javascript: void(0);') Forgot your password?
                
                .authorization__form-group.authorization__form-group--actions
                    .authorization__form-group.authorization__form-group--remember
                        .swiper.authorization__swiper
                            input#login-remember.swiper__checkbox(type='checkbox' checked)
                            label(for='login-remember').swiper__pre.sprite-smith
                                span.icon-tick.swiper__pre-icon.swiper__pre-icon--tick
                                span.icon-cross.swiper__pre-icon.swiper__pre-icon--cross

                            label(for='login-remember').swiper__toggler
                                span.swiper__dog

                            label(for='login-remember').swiper__post Remember?

                    .authorization__form-group.authorization__form-group--submit
                        button#login-submit.authorization__submit(type='submit') Sign In

        .authorization__abroad
            span Not a registered user yet?
            a(href='#') Sign up now!
