extends modal

block modal__inner
    .modal__inner.modal__inner--authorization
        include authorization
        button.modal__close(type='button')
            span.modal__close-icon.custom-font-close
