block modal
    #modal.modal
        .modal__padding
            .modal__align
                .modal__container
                    .modal__container-padding
                        block modal__inner
